.comit{
    width: 33.4%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
//小镇分布及产值情况
    .hcomit{
        width: 34%;
        height: 45%;
        position: relative;
        top: 4.3%;
        left: 2%;
          .htu1{
            width: 100%;
            height: 100%;
            background: rgba(32, 120, 128, 0.2);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
            .hbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{                
                height: 5%;
                width: 95%;
                position: absolute;
                left: 2%;
                top: 5%;
                color: #ffffff;
                span.name{
                    background: #48a6cc;
                    height: 100%;
                    font-size: 1rem;
                }
                span.year{
                    float: right;
                    background: #31708f;
                    height: 100%;
                    width: 60px;
                    margin-right: 5px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .tubiao{
                width: 100%;
                height: 77%;
                position: absolute;
                top: 9%;
                left: 0%;
            }
        }
    }
//小镇收入情况
.hcomit2{
    width: 34%;
    height: 45%;
    position: relative;
    top: 5.3%;
    left: 2%;
      .htu1{
        width: 100%;
        height: 100%;
        background: rgba(32, 120, 128, 0.2);
        border: 1px solid rgba(108, 235, 252, 0.1);
        position: absolute;
        top: 0%;
        left: 0%;
        box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
          .hbk span:nth-child(1){
            position: absolute;
            left: 0%;
            top: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 1px 0 0 1px;
        }
        .hbk span:nth-child(2){
            position: absolute;
            right:0%;
            top: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 1px 1px 0 0;
        }
        .hbk span:nth-child(3){
            position: absolute;
            right: 0%;
            bottom: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width:0 1px 1px 0;
        }
        .hbk span:nth-child(4){
            position: absolute;
            left: 0%;
            bottom: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 0  0 1px 1px;
        }
        .wenzi{
            height: 5%;
            width: 95%;
            position: absolute;
            left: 2%;
            top: 5%;
            color: #ffffff;
            span.name{
                background: #48a6cc;
                height: 100%;
                font-size: 1rem;
            }
            span.year{
                float: right;
                background: #31708f;
                height: 100%;
                width: 60px;
                margin-right: 5px;
                text-align: center;
                cursor: pointer;
            }
        }
        .tubiao{
            width: 100%;
            height: 77%;
            position: absolute;
            top: 9%;
            left: 0%;
        }
      }
 }
//企业纳税前10
.hcomit3{
    width: 36%;
    height: 91%;
    position: relative;
    top: -85.7%;
    left: 36.8%;
    .htu1{
        width: 100%;
        height: 100%;
        background: rgba(32, 120, 128, 0.2);
        border: 1px solid rgba(108, 235, 252, 0.1);
        position: absolute;
        top: 0%;
        left: 0%;
        box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
          .hbk span:nth-child(1){
            position: absolute;
            left: 0%;
            top: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 1px 0 0 1px;
        }
        .hbk span:nth-child(2){
            position: absolute;
            right:0%;
            top: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 1px 1px 0 0;
        }
        .hbk span:nth-child(3){
            position: absolute;
            right: 0%;
            bottom: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width:0 1px 1px 0;
        }
        .hbk span:nth-child(4){
            position: absolute;
            left: 0%;
            bottom: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 0  0 1px 1px;
        }
        .wenzi{
            background: #48a6cc;
            height: 3%;
            position: absolute;
            left: 2%;
            top: 1%;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1;
            color: #ffffff;
        }
        .kuang{
            width: 96%;
            height: 7%;
            position: relative;
            border: 1px solid #24547c;
            background: rgba(32, 120, 128, 0.2);
            top: 3%;
            left: 2%;
            margin-top: 3%;
            .p1{
                float: left;
                width: 70%;
                height: 100%;
                line-height: 250%;
                font-size: 1.2rem;
                color: #fdfffe;
                margin:0;
            }
            .p2{
                float: left;
                width: 29%;
                height: 100%;
                line-height: 250%;
                font-size: 1.2rem;
                color: #fdfffe;
                margin:0;
            }
        }    
    }            
    
}
      
 

//o产业总览
 .cmi{
        width: 19%;
        height: 14%;
        position: absolute;
        left: 79%;
        top: 5%;
        .cmou{
            width: 100%;
            height: 100%;
            background: url(../img/ljzs.png) no-repeat center;
            background-size: 100% 100%;
        }
        .comiwen{
            position: absolute;
            left: 31%;
            top: 10%;
            font-size: 1.5rem;
            color: #ffffff;
        }
        .comiwen2{ 
            height:3rem;
            position: absolute;
            left: 39%;
            top: 52%;
            text-align: center;
            font-size: 2rem;
            color: #c4c700;
            font-weight: bold;
            span{
                float: left;
                height: 100%;
            }
            span.name{
                display: inline-block;
                height: 100%;
                line-height: 3rem;
                text-align: center;
                font-size: 1.4rem;
                color: #ffffff;
            }
        }
        
    }
}