.comit{
    width: 33.4%;
    height: 100%;
    position: absolute;
    top: 0%;
    right:0%;
    overflow: hidden;
//企业分布及产值情况
      .rigmit{
        width: 38%;
        height: 48%;
        position: relative;
        top: 4.3%;
        left: 1%;
            .rigbj{
                width: 113%;
                height: 28%;
                position: absolute;
                top: -7%;
                left: -6%;
                     .rigbjtu{
                         width: 100%;
                         height: 100%;
                         background: url(../img/bwen.png) no-repeat center;
                         background-size: 100% 100%;
                     } 
            }
                .htu1{
                    width: 100%;
                    height: 100%;
                    background: rgba(32, 120, 128, 0.2);
                    border: 1px solid rgba(108, 235, 252, 0.1);
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
                    .hbk span:nth-child(1){
                        position: absolute;
                        left: 0%;
                        top: 0%;
                        padding: 1%;
                        border-style: solid;
                        border-color: #6cebfc;
                        border-width: 1px 0 0 1px;
                    }
                    .hbk span:nth-child(2){
                        position: absolute;
                        right:0%;
                        top: 0%;
                        padding: 1%;
                        border-style: solid;
                        border-color: #6cebfc;
                        border-width: 1px 1px 0 0;
                    }
                    .hbk span:nth-child(3){
                        position: absolute;
                        right: 0%;
                        bottom: 0%;
                        padding: 1%;
                        border-style: solid;
                        border-color: #6cebfc;
                        border-width:0 1px 1px 0;
                    }
                    .hbk span:nth-child(4){
                        position: absolute;
                        left: 0%;
                        bottom: 0%;
                        padding: 1%;
                        border-style: solid;
                        border-color: #6cebfc;
                        border-width: 0  0 1px 1px;
                    }
                    .wenzi{
                        background: #48a6cc;
                        height: 5%;
                        position: absolute;
                        left: 2%;
                        top: 5%;
                        text-align: center;
                        font-size: 1.2rem;
                        line-height: 1;
                        color: #ffffff;
                            }
                            .rigkbj{
                                width: 100%;
                                height: 74%;
                                position: absolute;
                                top: 13%;
                                left: 0%;
                                .rigktu{
                                        width: 100%;
                                        height: 100%;
                                        background: url(../img/mqjd.png) no-repeat center;
                                        background-size: 100% 100%;
                                }
                            }
                } 

      }
//企业入驻统计
.rigmit02{
    width: 58%;
    height: 48%;
    position: relative;
    top: -43.7%;
    left: 40%;
            .htu1{
                width: 100%;
                height: 100%;
                background: rgba(32, 120, 128, 0.2);
                border: 1px solid rgba(108, 235, 252, 0.1);
                position: absolute;
                top: 0%;
                left: 0%;
                box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
                .hbk span:nth-child(1){
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 1px 0 0 1px;
                }
                .hbk span:nth-child(2){
                    position: absolute;
                    right:0%;
                    top: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 1px 1px 0 0;
                }
                .hbk span:nth-child(3){
                    position: absolute;
                    right: 0%;
                    bottom: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width:0 1px 1px 0;
                }
                .hbk span:nth-child(4){
                    position: absolute;
                    left: 0%;
                    bottom: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 0  0 1px 1px;
                }
                .wenzi{
                    background: #48a6cc;
                    height: 5%;
                    position: absolute;
                    left: 2%;
                    top: 5%;
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1;
                    color: #ffffff;
                        }
                        .rigtable{
                            width: 100%;
                            height: 74%;
                            position: absolute;
                            top: 15%;
                            left: 0%;
                        }
            } 
}
//企业总注册资本统计
.rigmit03{
    width: 50%;
    height: 44%;
    position: relative;
    top: -42.7%;
    left: 1%;
            .htu1{
                width: 100%;
                height: 100%;
                background: rgba(32, 120, 128, 0.2);
                border: 1px solid rgba(108, 235, 252, 0.1);
                position: absolute;
                top: 0%;
                left: 0%;
                box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
                .hbk span:nth-child(1){
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 1px 0 0 1px;
                }
                .hbk span:nth-child(2){
                    position: absolute;
                    right:0%;
                    top: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 1px 1px 0 0;
                }
                .hbk span:nth-child(3){
                    position: absolute;
                    right: 0%;
                    bottom: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width:0 1px 1px 0;
                }
                .hbk span:nth-child(4){
                    position: absolute;
                    left: 0%;
                    bottom: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 0  0 1px 1px;
                }
                .wenzi{
                    background: #48a6cc;
                    height: 5%;
                    position: absolute;
                    left: 2%;
                    top: 5%;
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1;
                    color: #ffffff;
                        }
                        .rigtable{
                            width: 100%;
                            height: 74%;
                            position: absolute;
                            top: 18%;
                            left: 0%;
                        }
            } 
}
//企业性质统计
.rigmit04{
    width: 46%;
    height: 44%;
    position: relative;
    top: -86.7%;
    left: 52%;
        .rigbj{
            width: 109%;
            height: 32%;
            position: absolute;
            top: 72%;
            left: -8%;
                .rigbjtu{
                    width: 100%;
                    height: 100%;
                    background: url(../img/bwen.png) no-repeat center;
                    background-size: 100% 100%;
                } 
        }
            .htu1{
                width: 100%;
                height: 100%;
                background: rgba(32, 120, 128, 0.2);
                border: 1px solid rgba(108, 235, 252, 0.1);
                position: absolute;
                top: 0%;
                left: 0%;
                box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
                .hbk span:nth-child(1){
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 1px 0 0 1px;
                }
                .hbk span:nth-child(2){
                    position: absolute;
                    right:0%;
                    top: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 1px 1px 0 0;
                }
                .hbk span:nth-child(3){
                    position: absolute;
                    right: 0%;
                    bottom: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width:0 1px 1px 0;
                }
                .hbk span:nth-child(4){
                    position: absolute;
                    left: 0%;
                    bottom: 0%;
                    padding: 1%;
                    border-style: solid;
                    border-color: #6cebfc;
                    border-width: 0  0 1px 1px;
                }
                .wenzi{
                    background: #48a6cc;
                    height: 5%;
                    position: absolute;
                    left: 2%;
                    top: 5%;
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1;
                    color: #ffffff;
                        }
                      .rigtable{
                        width: 100%;
                        height: 74%;
                        position: absolute;
                        top: 4%;
                        left: -22%;
                        .ss{
                            color: #ffff;
                            font-size: 1.5rem;
                            position: absolute;
                            left: 43%;
                            top: 52%;
                        }
                        .ssmi{
                            color: #f5f274;
                            font-size: 1.5rem;
                            position: absolute;
                            left: 62.4%;
                            top: 12%;
                        }
                        .ssmil{
                            color: #EE8262;
                            font-size: 1.5rem;
                            position: absolute;
                            left: 30%;
                            top: 17%;
                        }
                        .ssmil02{
                            color: #7EC0EE;
                            font-size: 1.5rem;
                            position: absolute;
                            left: 48%;
                            top: 110%;
                        }
                      }
                        .weizi{
                            position: absolute;
                            top: 23%;
                            left: 57%;
                            color: #a08908;
                            width: 40%;
                        }
            } 
}
}