//苗圃占比22
.donghua_dayuan{
    width: 8rem;
    height: 8rem;
    margin: 1rem auto;
    position: relative;
    border: 2px solid #464242;
    border-radius: 50%;
    .neidayuan{
 
        overflow: hidden;
    }
        .right{
            right:0;
        }
        .neidayuan01{
            width: 8rem;
            height: 8rem;
            border: 6px solid transparent;
            border-radius: 50%;
            position: absolute;
            top: -2%;
            left: -2%;         
        }
        .right01{
            border-top: 6px solid #009cb1;
            border-right: 6px solid #009cb1;
            right:0;
            border-radius: 50%;   
            animation: ki 5s linear infinite;  
        }
      
    }
    .ncl{
        position: absolute;
    left: 44%;
    top: 124%;
        .mini{
            display: inline-block;
            color: #009cb1;
            font-size: 2rem;
            font-weight: bold;
            margin-left: 12%;
            margin-top: 5%;
        }
        .miz{
            color: #fff;
            margin-top: 0%;
            font-size: 1rem;
            margin-left: -27%;
        }
        }
        //孵卵   
        .donghua_dayuan2{
            width: 8rem;
            height: 8rem;
            margin: 1rem auto;
            position: relative;
            border: 2px solid #464242;
            border-radius: 50%;
            .neidayuan{
         
                overflow: hidden;
            }
                .right{
                    right:0;
                }
                .neidayuan01{
                    width: 8rem;
                    height: 8rem;
                    border: 6px solid transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -2%;
                    left: -2%;         
                }
                .right01{
                    border-top: 6px solid #009cb1;
                    border-right: 6px solid #009cb1;
                    right:0;
                    border-radius: 50%;   
                    animation: ki 5s linear infinite;  
                }
                .ncl{
                    left: 32%;
                    top: 4%;
                    .mini{
                        display: inline-block;
                        color: #009cb1;
                        font-size: 2rem;
                        font-weight: bold;
                        margin-left: 12%;
                        margin-top: 5%;
                    }
                    .miz{
                        color: #fff;
                        margin-top: 0%;
                        font-size: 1rem;
                        margin-left: -27%;
                    }
                    }
            }
             //毕业  
        .donghua_dayuan3{
            width: 8rem;
            height: 8rem;
            margin: 1rem auto;
            position: relative;
            border: 2px solid #464242;
            border-radius: 50%;
            .neidayuan{
         
                overflow: hidden;
            }
                .right{
                    right:0;
                }
                .neidayuan01{
                    width: 8rem;
                    height: 8rem;
                    border: 6px solid transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -2%;
                    left: -2%;         
                }
                .right01{
                    border-top: 6px solid #009cb1;
                    border-right: 6px solid #009cb1;
                    right:0;
                    border-radius: 50%;   
                    animation: ki 5s linear infinite;  
                }
                .ncl{
                    left: 32%;
                    top: 4%;
                    .mini{
                        display: inline-block;
                        color: #009cb1;
                        font-size: 2rem;
                        font-weight: bold;
                        margin-left: 12%;
                        margin-top: 5%;
                    }
                    .miz{
                        color: #fff;
                        margin-top: 0%;
                        font-size: 1rem;
                        margin-left: -27%;
                    }
                    }
            }
                  //加速  
        .donghua_dayuan4{
            width: 8rem;
            height: 8rem;
            margin: 1rem auto;
            position: relative;
            border: 2px solid #464242;
            border-radius: 50%;
            .neidayuan{
         
                overflow: hidden;
            }
                .right{
                    right:0;
                }
                .neidayuan01{
                    width: 8rem;
                    height: 8rem;
                    border: 6px solid transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -2%;
                    left: -2%;         
                }
                .right01{
                    border-top: 6px solid #009cb1;
                    border-right: 6px solid #009cb1;
                    right:0;
                    border-radius: 50%;   
                    animation: ki 5s linear infinite;  
                }
                .ncl{
                    left: 32%;
                    top: 4%;
                    .mini{
                        display: inline-block;
                        color: #009cb1;
                        font-size: 2rem;
                        font-weight: bold;
                        margin-left: 12%;
                        margin-top: 5%;
                    }
                    .miz{
                        color: #fff;
                        margin-top: 0%;
                        font-size: 1rem;
                        margin-left: -27%;
                    }
                    }
            }
                       //迁出 
        .donghua_dayuan5{
            width: 8rem;
            height: 8rem;
            margin: 1rem auto;
            position: relative;
            border: 2px solid #464242;
            border-radius: 50%;
            .neidayuan{
         
                overflow: hidden;
            }
                .right{
                    right:0;
                }
                .neidayuan01{
                    width: 8rem;
                    height: 8rem;
                    border: 6px solid transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -2%;
                    left: -2%;         
                }
                .right01{
                    border-top: 6px solid #009cb1;
                    border-right: 6px solid #009cb1;
                    right:0;
                    border-radius: 50%;   
                    animation: ki 5s linear infinite;  
                }
                .ncl{
                    left: 32%;
                    top: 4%;
                    .mini{
                        display: inline-block;
                        color: #009cb1;
                        font-size: 2rem;
                        font-weight: bold;
                        margin-left: 12%;
                        margin-top: 5%;
                    }
                    .miz{
                        color: #fff;
                        margin-top: 0%;
                        font-size: 1rem;
                        margin-left: -27%;
                    }
                    }
            }
                       //淘汰 
        .donghua_dayuan6{
            width: 8rem;
            height: 8rem;
            margin: 1rem auto;
            position: relative;
            border: 2px solid #464242;
            border-radius: 50%;
            .neidayuan{
         
                overflow: hidden;
            }
                .right{
                    right:0;
                }
                .neidayuan01{
                    width: 8rem;
                    height: 8rem;
                    border: 6px solid transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: -2%;
                    left: -2%;         
                }
                .right01{
                    border-top: 6px solid #009cb1;
                    border-right: 6px solid #009cb1;
                    right:0;
                    border-radius: 50%;   
                    animation: ki 5s linear infinite;  
                }
                .ncl{
                    left: 32%;
                    top: 4%;
                    .mini{
                        display: inline-block;
                        color: #009cb1;
                        font-size: 2rem;
                        font-weight: bold;
                        margin-left: 12%;
                        margin-top: 5%;
                    }
                    .miz{
                        color: #fff;
                        margin-top: 0%;
                        font-size: 1rem;
                        margin-left: -27%;
                    }
                    }
            }
@keyframes ki{   
    0%{   
     transform: rotate(45deg);
     border-radius: 50%;   
    }     
    100%{   
     transform: rotate(360deg);
     border-radius: 50%;   
    }   
  }      