.comit{
    width: 33.4%;
    height: 100%;
    overflow: hidden;
     .hxmit{
        width: 33%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        .hxbn{
            width: 100%;
            height: 100%;
            background: url(../img/lebj.png) no-repeat center;
            background-size: 100% 100%;
        }
     }
     .hxcomit{
        width: 34%;
        height: 45%;
        position: relative;
        top: 4.3%;
        left: 63%;
          .hxtu1{
            width: 100%;
            height: 100%;
            background: rgba(32, 120, 128, 0.2);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
              .hxbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hxbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hxbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hxbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                    background: #48a6cc;
                    width: 27%;
                    height: 9%;
                    position: absolute;
                    left: 2%;
                    top: 5%;
                    text-align: center;
                    font-size: 1.5rem;
                    color: #ffffff;
                     }
                     .tubiao{
                        width: 100%;
                        height: 50%;
                        position: absolute;
                        top: 18%;
                        left: 5%;
                     }
          }
     }

     .hxcomit02{
        width: 34%;
        height: 45%;
        position: relative;
        top: 5.3%;
        left: 63%; 
         .hxtu1{
            width: 100%;
            height: 100%;
            background: rgba(32, 120, 128, 0.2);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
             .hxbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
           }
           .hxbk span:nth-child(2){
               position: absolute;
               right:0%;
               top: 0%;
               padding: 1%;
               border-style: solid;
               border-color: #6cebfc;
               border-width: 1px 1px 0 0;
           }
           .hxbk span:nth-child(3){
               position: absolute;
               right: 0%;
               bottom: 0%;
               padding: 1%;
               border-style: solid;
               border-color: #6cebfc;
               border-width:0 1px 1px 0;
           }
           .hxbk span:nth-child(4){
               position: absolute;
               left: 0%;
               bottom: 0%;
               padding: 1%;
               border-style: solid;
               border-color: #6cebfc;
               border-width: 0  0 1px 1px;
           }
           .wenzi{
            background: #48a6cc;
            width: 27%;
            height: 9%;
            position: absolute;
            left: 2%;
            top: 5%;
            text-align: center;
            font-size: 1.5rem;
            color: #ffffff;
           }
           .tubiao{
            width: 100%;
            height: 50%;
            position: absolute;
            top: 18%;
            left: 5%;
         }
         }
    }
}