.comit{
    width: 33.4%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    // 行业类型分析
    .rigfst{
        width: 35%;
        height: 40%;
        position: relative;
        top: 2.3%;
        left: 1%;
          .rigfstb{
            width: 100%;
            height: 100%;
            background: rgba(25, 128, 216, 0.1);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px rgba(104, 94, 94, 0.5);
              .hxbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hxbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hxbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hxbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                background: #48a6cc;
                height: 7%;
                position: absolute;
                left: 1%;
                top: 3%;
                text-align: center;
                font-size: 1.2rem;
                color: #ffffff;
                     }
                     .tubiao{
                        width: 48%;
                        height: 74%;
                        position: absolute;
                        top: 18%;
                        left: 2%;
                     }
                     .rigtk{
                        width: 47%;
                        height: 93%;
                        position: absolute;
                        top: 8%;
                        left: 51%;
                        overflow: hidden;
                            .rigtu{
                                width: 100%;
                                height: 59%;
                                position: absolute;
                                top: -5%;
                                left: 0%;
                                .rightu{
                                   width: 100%;
                                   height: 100%;
                                   background: url(../img/xingk.png) no-repeat center;
                                   background-size: 100% 100%; 
                                }
                            }
                            .rigtu2{
                                width: 89%;
                                height: 46%;
                                position: absolute;
                                top: 2%;
                                left: 5%;
                                .rightu2{
                                   width: 100%;
                                   height: 100%;
                                   background: url(../img/xing.png) no-repeat center;
                                   background-size: 100% 100%; 
                                }
                            }
                            .wenzi2{
                                width: 100%;
                                height: 41%;
                                position: absolute;
                                left: 0%;
                                top: 57%;
                                overflow: hidden;
                                 p{
                                    text-align: center;
                                    font-size: 1rem;
                                    color: #d6c25a;
                                 }
                            }
                     }
          }
    }
// 近俩年意向项目情况
     .rigtwo{
        width: 35%;
        height: 54%;
        position: relative;
        top: 3.3%;
        left: 1%;
          .rigfstb{
            width: 100%;
            height: 100%;
            background: rgba(25, 128, 216, 0.1);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px rgba(104, 94, 94, 0.5);
              .hxbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hxbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hxbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hxbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                background: #48a6cc;
                height: 7%;
                position: absolute;
                left: 1%;
                top: 3%;
                text-align: center;
                font-size: 1.2rem;
                color: #ffffff;
               }
                .ll{
                    width: 94%;
                    height: 83%;
                    margin: 10% 0 0 3%;
                    background: rgba(25, 128, 216, 0.1);
                    border: 1px solid rgba(108, 235, 252, 0.1);
                    .ll_1{
                        width: 100%;
                        height: 17%;
                        border: 1px solid rgba(108, 235, 252, 0.1);
                        table{
                            width: 100%;
                            font-size: 1rem;
                            font-weight: 100;
                            color: #9b9b9b;
                            tr{
                                border: 1px solid #0f3d7b;
                            }
                            td{
                                padding: 1.5rem;
                            }
                            .ll_2{
                                position: absolute;
                                display: inline-block;
                                top: 21%;
                                left: 4%;
                                width: 25%;
                                height: 13%;
                                background: #ecd592;
                                text-align: center;
                                line-height: 4rem;
                                font-weight: bolder;
                                color: #000000;
                            }
                            .ll_3{
                                height: 0%;
                                width: 25%;
                                border-top: 52px solid #6a9198;
                                border-left: 19px solid transparent;
                                border-right: 19px solid transparent;
                                position: absolute;
                                top: 34%;
                                left: 4%;
                            }
                            .ll_4{
                                height: 0%;
                                width: 17%;
                                border-top: 52px solid #b77c5c;
                                border-left: 19px solid transparent;
                                border-right: 19px solid transparent;
                                position: absolute;
                                top: 47%;
                                left: 8%;
                            }
                          
                        }
                    }
                    .ll_5{
                        position: absolute;
                        top: 36%;
                        left: 12%;
                        text-align: center;
                        line-height: 3rem;
                        font-size: 1rem;
                        font-weight: bolder;
                        color: #000000;
                    }
                    .ll_6{
                        position: absolute;
                        top: 49%;
                        left: 11%;
                        text-align: center;
                        line-height: 3rem;
                        font-size: 1rem;
                        font-weight: bolder;
                        color: #000000;
                    }
                }  
          }
    }
// 意向来源分析
    .riglef{
        width: 62.4%;
        height: 47%;
        position: relative;
        top: -91.6%;
        left: 36.6%;
        overflow: hidden;
          .riglefb{
            width: 100%;
            height: 100%;
            background: rgba(25, 128, 216, 0.1);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px rgba(104, 94, 94, 0.5);
              .hxbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hxbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hxbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hxbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                background: #48a6cc;
                height: 7%;
                position: absolute;
                left: 1%;
                top: 3%;
                text-align: center;
                font-size: 1.2rem;
                color: #ffffff;
                     }
                     .tubioa02{
                        width: 96%;
                        height: 77%;
                        position: absolute;
                        top: 12%;
                        left: 2%;
                        overflow: hidden;
                     }
                    
          }

    }
// 重点项目
    .rigleftop{
        width: 62.4%;
        height: 47%;
        position: relative;
        top: -90.6%;
        left: 36.6%;
      .rigleftopb{
        width: 100%;
        height: 100%;
        background: rgba(25, 128, 216, 0.1);
        border: 1px solid rgba(108, 235, 252, 0.1);
        position: absolute;
        top: 0%;
        left: 0%;
        box-shadow: 0px 1px rgba(104, 94, 94, 0.5);
          .hxbk span:nth-child(1){
            position: absolute;
            left: 0%;
            top: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 1px 0 0 1px;
        }
        .hxbk span:nth-child(2){
            position: absolute;
            right:0%;
            top: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 1px 1px 0 0;
        }
        .hxbk span:nth-child(3){
            position: absolute;
            right: 0%;
            bottom: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width:0 1px 1px 0;
        }
        .hxbk span:nth-child(4){
            position: absolute;
            left: 0%;
            bottom: 0%;
            padding: 1%;
            border-style: solid;
            border-color: #6cebfc;
            border-width: 0  0 1px 1px;
        }
        .wenzi{
            background: #48a6cc;
            height: 7%;
            position: absolute;
            left: 1%;
            top: 3%;
            text-align: center;
            font-size: 1.2rem;
            color: #ffffff;
                 }
                 .tubiao{
                    width: 42%;
                    height: 74%;
                    position: absolute;
                    top: 18%;
                    left: 2%;
                 }
                 .wenzi2{
                    width: 37%;
                    position: absolute;
                    left: 57%;
                    top: 38%;
                     p{
                        text-align: center;
                        font-size: 1rem;
                        color: #1782f1;
                     }
                }
                
      }
    }
}
