.ss{
    width: 50%;
    height: 112%;
    // background: #ffff;
    overflow: hidden;
    margin: -2% 0 0 5%;
    .yi_1{
        width: 17%;
        height: 14%;
        position: absolute;
        top: 95%;
        left: 19%;
        background: #7e8c69;
        color: #ffff;
        font-size: 0.1rem;
        line-height: 14px;
        text-align: center;
    }
    .yi_2{
        width: 17%;
        height: 14%;
        position: absolute;
        top: 81%;
        left: 19%;
        background: #975755;
        color: #ffff;
        font-size: 1rem;
        text-align: center;
        z-index: 9;
    }
    .yi_2_2{
        width: 19%;
        border-top: 28px solid #975755;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: 73%;
        left: 18%;
    }
    .yi_2_3{
        height: 0%;
        width: 35%;
        border-top: 52px solid #6a9198;
        border-left: 42px solid transparent;
        border-right: 42px solid transparent;
        position: absolute;
        top: 33%;
        left: 10%;
        z-index: 9;
    }
    .yi_2_4{
        width: 25%;
        border-top: 58px solid #b77c5c;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        position: absolute;
        top: 50%;
        left: 15%;
        overflow: hidden;
    }
    .yi_2_5{
        width: 35%;
        height: 20%;
        position: absolute;
        top: 13%;
        left: 10%;
        background: #ecd592;
        color: #000;
        font-size: 1rem;
        line-height: 3.4rem;
        text-align: center;
    }
    .yi_2_6{
        width: 35%;
        height: 20%;
        position: absolute;
        top: -8%;
        left: 10%;
        background: rgba(17, 40, 82, 2);
        color: #ffff;
        font-size: 1rem;
        line-height: 3.4rem;
        text-align: center;
    }
    .yi_2_7{
        position: absolute;
        top: 34%;
        left: 17%;
        color: #ffff;
        font-size: 1rem;
        line-height: 3.4rem;
        text-align: center;
        z-index: 10;
    }
    .yi_2_8{
        position: absolute;
        top: 56%;
        left: 20%;
        color: #000;
        font-size: 1rem;
        line-height: 3.4rem;
        text-align: center;
    }
}
.dd{
    width: 24%;
    height: 100%;
    background: rgba(17, 40, 82, 0.2);
    border: 2px solid #4d749f;
    position: absolute;
    left: 65%;
    top: -2%;
    border-radius: 4%;
    .shu_liang{
        width: 100%;
        height: 10%;
        overflow: hidden;
        position: absolute;
        top: 13%;
        left: 0%;
        span:nth-child(1){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
        span:nth-child(2){
            color: #ffff;
            font-size: 1rem;
            margin-left: 5%;
        }
    }
    .name_zi{
        width: 100%;
        height: 10%;
        overflow: hidden;
        position: absolute;
        top: 30%;
        left: 0%;
        span:nth-child(1){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
    }
    .ji_shu{
        width: 100%;
        height: 10%;
        overflow: hidden;
        position: absolute;
        top: 47%;
        left: 0%;
        span:nth-child(1){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
        span:nth-child(2){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
    }
    .tong_bi{
        width: 100%;
        height: 10%;
        overflow: hidden;
        position: absolute;
        top: 62%;
        left: 0%;
        span:nth-child(1){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
        span:nth-child(2){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
    }
    .zhan_bi{
        width: 100%;
        height: 10%;
        overflow: hidden;
        position: absolute;
        top: 76%;
        left: 0%;
        span:nth-child(1){
            color: #ffff;
            font-size: 1rem;
            margin-left: 12%;
        }
        span:nth-child(2){
            color: #ffff;     
            font-size: 1rem;
            margin-left: 12%;
        }
    }
}
// ['名称',15],
// ['I/信息传输和软件技术', 64],
// ['M/科学研究和服务业', 37],
// ['L/租凭和商务服务业',    26],
// ['B/计算机 通信和电子设备制造业',    10]
// ['B/计算机 通信和电子设备制造业', 8]