.cmt{
    width: 33.4%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    overflow: hidden;
    //企业数量统计
    .hcomit{
        width: 53%;
        height: 46%;
        position: relative;
        top: 1.5%;
        left: 1%;
          .htu1{
            width: 100%;
            height: 100%;
            background: rgba(32, 120, 128, 0.2);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
              .hbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                background: #48a6cc;
                height: 6%;
                position: absolute;
                left: 2%;
                top: 5%;
                font-size: 1rem;
                color: #ffffff;
                     }
                     .tubiao{
                        width: 100%;
                        height: 79%;
                        position: absolute;
                        top: 15%;
                        left: 0%;
                        table {  
                            // border: 1px solid #B1CDE3;  
                            padding:0;   
                            margin:0 auto;  
                            border-collapse: collapse;  
                        }  
                          tr{
                            border: 1px solid #0889ef;
                          }
                        td {  
                            // border: 1px solid #B1CDE3;
                            font-size: 1rem;
                            padding: 8px 39px 6px 35px;
                            color: #e6e6e6;
                        } 
                     }
          }
     }
//知识产权
     .hcomit02{
        width: 45%;
        height: 46%;
        position: relative;
        top: -44.5%;
        left: 55%;
        overflow: hidden;
          .htu1{
            width: 100%;
            height: 100%;
            background: rgba(32, 120, 128, 0.2);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
              .hbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 1%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                background: #48a6cc;
                height: 6%;
                position: absolute;
                left: 2%;
                top: 5%;
                font-size: 1rem;
                color: #ffffff;
                     }
                     .tubiao{
                        width: 100%;
                        height: 79%;
                        position: absolute;
                        top: 15%;
                        left: 0%;
                        .tu_biao{
                            position: relative;
                            left: -33%;
                            top: 10%;
                        }
                        .tu_biao02{
                            position: absolute;
                            left: -9%;
                            top: 9%;
                        }
                        .tu_biao03{
                            position: absolute;
                            left: 13%;
                            top: 10%;
                        }
                        .tu_biao04{
                            position: absolute;
                            left: 33%;
                            top: 10%;
                        }
                        .lyuan{
                            width: 7rem;
                            height: 7rem;
                            border: 2px solid #84db8d;
                            border-radius: 50%;
                            position: absolute;
                            left: 10%;
                            top: 12%;
                        }
                        .lwenzi{
                            width: 30%;
                            position: absolute;
                            top: 53%;
                            left: 11%;
                            .p1{
                                color:#67d745;
                                font-size: 1.5rem;
                                display: inline-block;
                            }
                            .p2{
                                color: #69dc41;
                                font-size: 1.4rem;
                                margin-top: -9.6rem;
                                margin-left: 1.8rem;
                            }
                        }
                        .lyuan02{
                            width: 7rem;
                            height: 7rem;
                            border: 2px solid #e6cb48;
                            border-radius: 50%;
                            position: absolute;
                            left: 33%;
                            top: 12%;
                        }
                        .lwenzi02{
                            width: 30%;
                            position: absolute;
                            top: 53%;
                            left: 33%;
                            .p1{
                                color: #f6d54a;
                                font-size: 1.5rem;
                                display: inline-block;
                            }
                            .p2{
                                color: #ecce4c;
                                font-size: 1.4rem;
                                margin-top: -9.6rem;
                                margin-left: 2.4rem;
                            }
                        }
                        .lyuan03{
                            width: 7rem;
                            height: 7rem;
                            border: 2px solid #9a4952;
                            border-radius: 50%;
                            position: absolute;
                            left: 55%;
                            top: 12%;
                        }
                        .lwenzi03{
                            width: 30%;
                            position: absolute;
                            top: 53%;
                            left: 55%;
                            .p1{
                                color: #e93325;
                                font-size: 1.5rem;
                                display: inline-block;
                            }
                            .p2{
                                color: #ea3426;
                                font-size: 1.4rem;
                                margin-top: -9.6rem;
                                margin-left: 2.4rem;
                            }
                        }
                        .lyuan04{
                            width: 7rem;
                            height: 7rem;
                            border: 2px solid #949599;
                            border-radius: 50%;
                            position: absolute;
                            left: 75%;
                            top: 12%;
                        }
                        .lwenzi04{
                            width: 30%;
                            position: absolute;
                            top: 53%;
                            left: 75%;
                            .p1{
                                color: #959796;
                                font-size: 1.5rem;
                                display: inline-block;
                            }
                            .p2{
                                color: #93979a;
                                font-size: 1.4rem;
                                margin-top: -9.6rem;
                                margin-left: 2.4rem;
                            }
                        }
                     }
          }
     }
//人才资源结构
     .hcomit03{
        width: 99%;
        height: 49%;
        position: relative;
        top: -43.5%;
        left: 1%;
          .htu1{
            width: 100%;
            height: 100%;
            background: rgba(32, 120, 128, 0.2);
            border: 1px solid rgba(108, 235, 252, 0.1);
            position: absolute;
            top: 0%;
            left: 0%;
            box-shadow: 0px 1px hsla(0, 5%, 39%, 0.5);
              .hbk span:nth-child(1){
                position: absolute;
                left: 0%;
                top: 0%;
                padding: 0.5%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 0 0 1px;
            }
            .hbk span:nth-child(2){
                position: absolute;
                right:0%;
                top: 0%;
                padding: 0.5%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 1px 1px 0 0;
            }
            .hbk span:nth-child(3){
                position: absolute;
                right: 0%;
                bottom: 0%;
                padding: 0.5%;
                border-style: solid;
                border-color: #6cebfc;
                border-width:0 1px 1px 0;
            }
            .hbk span:nth-child(4){
                position: absolute;
                left: 0%;
                bottom: 0%;
                padding: 0.5%;
                border-style: solid;
                border-color: #6cebfc;
                border-width: 0  0 1px 1px;
            }
            .wenzi{
                background: #48a6cc;
                height: 6%;
                position: absolute;
                left: 2%;
                top: 5%;
                font-size: 1rem;
                color: #ffffff;
                     }
                     .tubiao{
                        width: 100%;
                        height: 79%;
                        position: absolute;
                        top: 15%;
                     }
          }
     }
}