@keyframes turn{
	0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}
@keyframes carousel{
	0%{ left: 0; }
  100%{ left: -100%; }
}
.main{
	height:100%;
	width:100%;
	position:relative;
	color: #fff;
	background: url(../img/bj.jpg);
	background-size: 100% 100%;
	overflow: hidden;
	.carousel{
		position: absolute;
		top: 0;
		left: -20%;
		z-index: 5;
		height:100%;
		width:200%;
		background: url(../img/carousel.png);
		background-size: 50% 100%;
		animation:carousel 50s infinite;
		animation-timing-function: linear;
	}
	.bg1{
		height: 14rem;
		width: 14rem;
		position: absolute;
		left: 32%;
		top:7%;
		//background: url(../img/view.png);
		background-size: 110% 100%;
		opacity:0.5;
	}
	.bg2{
		height: 14rem;
		width: 14rem;
		position: absolute;
		left: 63%;
		top:66%;
		//background: url(../img/view2.png);
		background-size: 110% 100%;
		opacity:0.5;
	}
	.bg3{
		height: 14rem;
		width: 14rem;
		position: absolute;
		left: 39%;
		top:53%;
		//background: url(../img/view3.png);
		background-size: 110% 100%;
		opacity:0.5;
	}
	.bg4{
		height: 14rem;
		width: 14rem;
		position: absolute;
		left: 58%;
		top:16%;
		//background: url(../img/view4.png);
		background-size: 110% 100%;
		opacity:0.5;
	}
	.middle{
		z-index: 9;
		position:absolute;
		width:30%;
		height:100%;
		left:35%;
		top: 0;
		display:flex;
		justify-content:center;
		align-items:center;
		.circleBig{
			display:inline-block;
			height:38rem;
			width:38rem;
			background: url(./../img/bigCircle.png);
			background-size:100% 100%;
			animation:turn 20s infinite linear;
			z-index:2;			
		}
		.textBig{
			position: absolute;
		    height: 24rem;
		    width: 20rem;
		    z-index: 3;
		    padding-top: 6rem;
			.title{
				display: inline-block;
				font-size:1rem;
				text-align:center;
				border:1px solid #337ab7;
				border-radius:.5rem;
				padding: 3px 3px;
				span.icon{
					display:inline-block;
					height:1rem;
					width:1.2rem;
					background:url(../img/icon4.png) no-repeat;
					background-size:100% 100%;
				}
			}
			.name{
				height:3rem;
				line-height: 3rem;
				font-size: 1.5rem;
			}
			table{
				width: 100%;
				font-size: 1rem;
				tr{
					height: 2rem;
					td{
						text-align: center;
						.num{
							color: red;
						}
						.numGreen{
							color: green;
						}
					}
				}				
			}
		}
		.circleBig_bottom{
			position:absolute;
			z-index:1;
			display:inline-block;
			height:50rem;
			width:110rem;
			background: url(./../img/bottom.png);
			background-size:100% 100%;
		}
	}	
	.circle1{
		z-index: 9;
		display:inline-block;		
		height:24rem;
		width:24rem;
		position:absolute;
		left:3%;
		top:8%;	
		.line_left1{
			background: url(../img/line_left1.png);
			background-size: 100% 100%;
			position:absolute;
			left:9rem;
			top: -6rem;
			height:22rem;
			width:145rem;
		}	
		img.bg{
			height:100%;
			width:100%;
			animation:turn 25s infinite linear;
		}
		.text1{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			padding:5rem 2rem 0 2rem;
			.time{
				height: 4rem;
				line-height: 4rem;
				text-align: center;
				font-size: 3rem;
			}
			.date{
				height: 3rem;
				line-height: 3rem;
				text-align: center;
				font-size: 2rem;
			}
			.weekday{
				height: 3rem;
				line-height: 3rem;
				text-align: center;
				font-size: 2rem;
			}
			.sun{
				height: 4rem;
				width: 100%;
				display: flex;
				justify-content: center;
				items-align: center;
				img{
					height: 4rem;
					width: 4rem;
				}
			}
		}
	}
	.circle2{
		z-index: 9;
		position:absolute;
		display:inline-block;
		height:24rem;
		width:24rem;
		left:21%;
		top:32%;
		.line_left2{
			background: url(../img/line_left2.png);
			background-size: 100% 100%;
			position:absolute;
			left:8rem;
			top:-9rem;
			height:20rem;
			width:80rem;
		}		
		img{
			height:100%;
			width:100%;
			animation:turn 28s infinite linear;
		}
		.text2{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			padding:6rem;
			.title{
				height:2rem;
				line-height:2rem;
				font-size:1.2rem;
				text-align:center;
				border:1px solid #337ab7;
				border-radius:1rem;
				span.icon{
					display:inline-block;
					height:1.4rem;
					width:1.4rem;
					background:url(../img/people.png) no-repeat;
					background-size:100% 100%;
				}
			}
			.percent{
				display:inline-block;
				height: 4rem;
				line-height: 3rem;
				width: 4rem;
				border-radius: 2rem;
				border: .5rem solid yellow;
				font-size:1rem;
				text-align: center;
			}
			.name{
				display:inline-block;
				height: 3rem;
				width: 8rem;
				margin-top: 1rem;
			}
			table{
				padding: 0;
				margin: 0;
				width: 100%;
				font-size: 1rem;
				tr{
					width: 100%;
					height: 2rem;
					line-height: 3rem;
					td{
						text-align: center;
						span.num{
							font-size: 1.5rem;
							color: #2299ff;
						}
					}
				}
			}
		}
	}
	.circle3{
		z-index: 9;
		position:absolute;
		left:30%;
		top:62%;
		display:inline-block;
		height:18rem;
		width:18rem;	
		.line_left3{
			background: url(../img/line_left3.png);
			background-size: 100% 100%;
			position:absolute;
			left: -6rem;
			top:-16rem;
			height: 20rem;
			width: 72rem;
		}	
		img{
			height:100%;
			width:100%;
			animation:turn 14s infinite linear;
		}
		.text3{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			padding:3.4rem 2rem;
			.title{
				height:2rem;
				width: 68%;
				margin-left: 16%;
				line-height:2rem;
				font-size:1.2rem;
				text-align:center;
				border:1px solid #337ab7;
				border-radius:1rem;
				span.icon{
					display:inline-block;
					height:1.5rem;
					width:1.4rem;
					background:url(../img/line_ball.png) no-repeat;
					background-size:100% 100%;
				}
			}
			.percent1{
				padding-left: .5rem;
				font-size: 0.9rem;
				height: 3rem;
				.total{
					float: left;
					width: 56%;
					height: 1rem;
					background: #57a247;
					border-radius: .4rem;
					margin-top: .3rem;
				}
				.num{
					float: left;
					width: 44%;
					padding-left: 5%;
				}	
			}
			.percent2{
				padding-left: 1rem;
				font-size: 0.9rem;
				height: 3rem;
				.total{
					float: left;
					width: 43%;
					height: 1rem;
					background: #ff7e26;
					border-radius: .4rem;
					margin-top: .3rem;
				}
				.num{
					float: left;
					width: 57%;
					padding-left: 10%;
				}	
			}			
			.percent3{
				padding-left: 1.5rem;
				font-size: 0.9rem;
				height: 3rem;
				.total{
					float: left;
					width: 40%;
					height: 1rem;
					background: #c1e799;
					border-radius: .4rem;
					margin-top: .3rem;
				}
				.num{
					float: left;
					width: 60%;
					padding-left: 10%;
				}	
			}
		}
	}
	.circle4{
		z-index: 9;
		position:absolute;
		display:inline-block;
		height:25rem;
		width:25rem;
		left:65%;
		top:5%;	
		.line_right1{
			background: url(../img/line_right1.png);
			background-size: 100% 100%;
			position:absolute;
			left:-38rem;
			top:19rem;
			height:14rem;
			width:60rem;
		}	
		img{
			height:100%;
			width:100%;
			animation:turn 15s infinite linear;
		}
		.text4{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			padding:8rem 4rem;
			.title{
				height:2rem;
				line-height:2rem;
				font-size:1rem;
				text-align:center;
				border:1px solid #337ab7;
				border-radius:1rem;
				span.icon{
					display:inline-block;
					height:1.5rem;
					width:1.4rem;
					background:url(../img/house.png) no-repeat;
					background-size:100% 100%;
				}
			}
			.num{
				display: inline-block;
				height: 1.5rem;
				line-height:2.5rem;
				width: 50%;
				color:#ca953b;
				font-size:1rem;
			}
			.word{
				display: inline-block;
				height: 1.5rem;
				width: 50%;
				font-size:1rem;
			}
			.total{
				width:100%;
				height: .5rem;
				background:#4d4e58;
				border-radius: .25rem;
			}
			.percent{
				height:100%;
				background:#a3bdc5;
				border-radius: .25rem;
			}
		}
	}
	.circle5{
		z-index: 9;
		position:absolute;
		display:inline-block;
		height:24rem;
		width:24rem;
		left:76%;
		top:50%;	
		.line_right2{
			background: url(../img/line_right2.png);
			background-size: 100% 100%;
			position:absolute;
			left:-91rem;
			top:0rem;
			height:20rem;
			width:122rem;
		}	
		img{
			height:100%;
			width:100%;
			animation:turn 26s infinite linear;
		}
		.text5{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			padding-top: 6rem;
		    padding-left: 3rem;
		    padding-right: 3rem;
			.title{
				height:2rem;
				line-height:2rem;
				width: 80%;
				margin-left: 10%;
				font-size:1rem;
				text-align:center;
				border:1px solid #337ab7;
				border-radius:1rem;
				span.icon{
					display:inline-block;
					height:1.5rem;
					width:1.4rem;
					background:url(../img/icon.png) no-repeat;
					background-size:100% 100%;
				}
			}
			table{
				width: 100%;
				margin-top: 2rem;
				tr{
					display: inline-block;
					height: 3rem;
					width: 100%;
					td{
						display: inline-block;
						width: 25%;
						text-align: center;
					}
				}
			}			
		}
	}
	.circle6{
		z-index: 9;
		position:absolute;
		display:inline-block;
		left:82%;
		top:7%;
		height:20rem;
		width:20rem;
		img{
			height:100%;
			width:100%;
			animation:turn 13s infinite linear;
		}
		.text6{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			padding:3.8rem 3rem;
			.title{
				height:2rem;
				width: 80%;
				margin-left: 10%;
				line-height:2rem;
				font-size:1rem;
				text-align:center;
				border:1px solid #337ab7;
				border-radius:1rem;
				margin-bottom: 1rem;
				span.icon{
					display:inline-block;
					height:1.5rem;
					width:1.5rem;
					background:url(../img/up.png) no-repeat;
					background-size:100% 100%;
				}
			}
			.percent1{
				padding-left: .5rem;
				font-size: 0.9rem;
				height: 3rem;
				.total{
					float: left;
					width: 56%;
					height: 1rem;
					background: #57a247;
					border-radius: .4rem;
					margin-top: .3rem;
				}
				.num{
					float: left;
					width: 44%;
					padding-left: 5%;
				}	
			}
			.percent2{
				padding-left: 1rem;
				font-size: 0.9rem;
				height: 3rem;
				.total{
					float: left;
					width: 43%;
					height: 1rem;
					background: #ff7e26;
					border-radius: .4rem;
					margin-top: .3rem;
				}
				.num{
					float: left;
					width: 57%;
					padding-left: 10%;
				}	
			}			
			.percent3{
				padding-left: 1.5rem;
				font-size: 0.9rem;
				height: 3rem;
				.total{
					float: left;
					width: 40%;
					height: 1rem;
					background: #c1e799;
					border-radius: .4rem;
					margin-top: .3rem;
				}
				.num{
					float: left;
					width: 60%;
					padding-left: 10%;
				}	
			}
		}
	}
	.leftBg{
		z-index: 9;
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:18rem;
		background: url(../img/left_bg.png);
		background-size: 100% 100%;
	}
	.overviewPro{
		z-index: 9;
		position :absolute;
		left:7%;
		top: 53%;
		height: 18rem;
		width: 19rem;
		background: url(../img/2.png);
		background-size: 100% 100%;		
		padding: 3rem 1.5rem;
		.title{
			border:1px solid #337ab7;
			border-radius: 0.5rem;
			text-align: center;
			height:2rem;
			line-height: 2rem;
			font-size:1.2rem;
			margin-top:-1rem;
		}
		.icon{
			display:inline-block;
			height:1rem;
			width:1rem;
			background:url(../img/icon2.png);
			background-size:100% 100%;
		}
		.name{
			height:2rem;
			line-height:2rem;
			font-size:1rem;
			.num{
				float:right;
			}
		}
		.total{
			width:100%;
			height: .5rem;
			background:#4d4e58;
			border-radius: .25rem;
		}
		.percent{
			height:100%;
			background:#a3bdc5;
			border-radius: .25rem;
		}
	}
	.boardPro{
		z-index: 9;
		position :absolute;
		left:14%;
		top: 17%;
		height: 16rem;
		width: 16rem;
		background: url(../img/3.png);
		background-size: 100% 100%;
		padding: 2rem 0.5rem;
		.title{
			border:1px solid #337ab7;
			border-radius: 0.5rem;
			text-align: center;
			height:2rem;
			line-height: 2rem;
			font-size:1.2rem;			
		}		
		.icon{
			display:inline-block;
			height:1rem;
			width:1rem;
			background:url(../img/people.png);
			background-size:100% 100%;
		}	
		.chart{
			height:12rem;
		}	
	}
	.boardRight{
		z-index: 9;
		position :absolute;
		right:1%;
		top: 5%;
		height: 90%;
		width: 30rem;
		background: url(../img/4.png);
		background-size: 100% 100%;
		padding: 1rem 6rem;
		.name{
			padding-top: 3rem;
			padding-left: 1rem;
			.icon{
				display:inline-block;
				height:1rem;
				width:1.5rem;
				background:url(../img/icon6.png);
				background-size:100% 100%;
			}
		}		
		.part1{
			display:inline-block;
			height:10rem;
			width:10rem;
			background:url(../img/data.png);
			background-size:100% 100%;
			text-align:center;
			padding-top:3.5rem;
			font-size:1rem;
			position:relative;
			top: 0rem;
		}
		.part2{
			display:inline-block;
			height:10rem;
			width:10rem;
			background:url(../img/data.png);
			background-size:100% 100%;
			text-align:center;
			padding-top:3.5rem;
			position:relative;
			left:9rem;
			top: -1rem;
			font-size:1rem;
		}
		.part3{
			display:inline-block;
			height:10rem;
			width:10rem;
			background:url(../img/data.png);
			background-size:100% 100%;
			text-align:center;
			padding-top:3.5rem;
			position:relative;
			left:0rem;
			top: -1rem;
			font-size:1rem;
		}
		.part4{
			display:inline-block;
			height:10rem;
			width:10rem;
			background:url(../img/data.png);
			background-size:100% 100%;
			text-align:center;
			padding-top:3.5rem;
			position:relative;
			left:9rem;
			top: -1rem;
			font-size:1rem;
		}
		.time{
			height:2.5rem;
			line-height:2.5rem;
		}
	}	
	.line_bar1{
		z-index: 9;
		background: url(../img/hx_guang.png);
		background-size: 100% 100%;
		position:absolute;
		left:55%;
		top:10%;
		height:190px;
		width:8%;
	}
	.line_bar2{
		z-index: 9;
		background: url(../img/hx_guang.png);
		background-size: 100% 100%;
		position:absolute;
		left:80%;
		top:11%;
		height:190px;
		width:15%;
	}	
}